.footer__wrapper{
  padding: 0 75px 48px 75px;
  background: #EEEEEE;
}

.footer__capture{
  display: flex;
  div{
    max-width: 385px;
    width: 100%;

    font-size: 12px;
    line-height: 15px;

    margin-left: 15px;
  }
}

.footer__date{
  font-size: 12px;
  line-height: 15px;
}

.footer__line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-top: 1px solid black;
  width: 100%;
  padding-top: 40px;

 img{
   width: 90px;
 }
}