@import "mixins";

.header {
  &__wrapper {
    @include positionBlock();

    padding: 31px 51px 24px 51px;

    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 129px;
  }

  &__logo {
    margin-right: 52px;
  }

  &__button {
    @include btnReset();
    width: 120px;
    height: 45px;
  }

  &__button:first-child {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
  }

  &__button:last-child {
    color: #FFFFFF;
  }

  &__content {
    @include positionBlock();
    width: 100%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-right: 52px;

    @include fontz(15px, 15px);

    &:hover{
      cursor: pointer;
    }
  }

  &__burger{
    display: none;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__buttons {
    @include positionBtns(0);
  }

  @media screen and (max-width: 1040px) {
    &__nav{
      margin: 90px 0 0 0;
      border-top: 1px solid #CCCCCC;
    }
    &__burger {
      display: block;
      position: fixed;
      width: 30px;
      height: 20px;
      left: 90%;
      z-index: 3;
      span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      &:before{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
    }
    .active:before {
      transform: rotate(45deg);
      width: 30px;
      top: 47px;
    }
    .header__burger:before,
    .header__burger:after {

    }
    .header__burger:before {
      top: 0;
    }
    .header__burger:after {
      bottom: 0;
    }
    .header__burger.active span {
      transform: scale(0);
    }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }

    .header__content.active{
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background: #FFFFFF;
      width: 100%;
      height: 100%;
      z-index: 1;
    }




























    &__buttons {
      justify-content: center;
      margin-top: 20px;
    }

    &__content {
      display: none;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      display: block;
      margin-right: 0;
      border-bottom: 1px solid #CCCCCC;
      width: 100%;
      padding: 30px;
      font-size: 32px;
      &:hover{
        background: #FF6336;
      }
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}



