.info__wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;

  img{
    max-width: 632px;
    width: 100%;
  }

  h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;

    margin-top: 150px;
    margin-bottom: 30px;
    max-width: 493px;
  }
  p{
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 30px;
    max-width: 491px;
  }

  a{
    color: #000000;
  }

  pre{
    height: 300px;
    overflow: auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 30px;
    background: #fff;
  }

  code{
    height: 240px;
    display: -webkit-box;
    color: #9876aa;
  }

  .info_ref{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    text-decoration: none;
  }
}

.info__wrapper:nth-child(2n){
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 138px;
}

.info__code-sample{
  width: 632px;
  height: 632px;
  background: #FFF8E4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.info__code-container{
  width: 80%;
  height: 340px;
  max-width: 500px;
}

@media screen and (max-width: 1000px){
  .info__wrapper:nth-child(1n){
    align-items: center;
    flex-direction: column-reverse;
  }
}






























