@import "mixins";

.integrate {
  &__wrapper {
    @include positionINBlocks();
    margin-bottom: 162px;
  }

  &__title {
    font-weight: 600;
    @include fontz(65px, 75px);

    max-width: 791px;
    width: 100%;
    text-align: center;
  }

  &__subtitle {
    @include fontz(25px, 30px);
    width: 539px;
    text-align: center;
    margin-bottom: 25px;
  }

  &_pic {
    max-width: 1023px;
    width: 100%;
    margin-bottom: 32px;
  }

  &__button {
    width: 193px;
    @include btnReset();
    @include fontz(16px, 60px);
    color: #FFFFFF;
  }
}