@import "mixins";

.intro {
  &__button {
    @include btnReset();
    width: 160px;
    height: 60px;
    line-height: 60px;

    color: #FFFFFF;
  }

  &__button:last-child {
    background: #FFFFFF;

    border: 1px solid black;
    color: black;
  }

  &__title {
    margin-bottom: 51px;

    font-weight: 600;
    @include fontz(65px, 70px);
  }

  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 137px;
    @include for1040Width {
      flex-direction: column;
      padding: 0 25px;
    }
  }

  &__subtitle {
    @include fontz(25px, 35px);

    margin-right: 68px;
    margin-bottom: 50px;
  }

  &__pic {
    max-width: 759px;
    width: 54%;
    height: 529px;
    @include for1040Width {
      width: 100%;
    }
  }

  &__buttons {
    @include positionBtns(25px);
  }
  &__content {
    padding-left: 10px;
    @include for1040Width {
      margin-top: 90px;
    }
  }
}


