@import "mixins";

.intro{
  &__button{
    @include btnReset();
    width: 160px;
    height: 60px;
    line-height: 60px;

    color: #FFFFFF;
  }

  &__button:last-child{
    background: #FFFFFF;

    border: 1px solid black;
    color: black;
  }

  &__title{
    margin-bottom: 51px;

    font-weight: 600;

    @include fontz(65px, 70px);
    font-size: 65px;
    line-height: 70px;
  }

  &__wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 137px;
  }

  &__subtitle{
    @include fontz(25px, 35px);

    margin-right: 68px;
    margin-bottom: 50px;
  }
}

.intro__pic{
  max-width: 759px;
  width: 54%;
  height: 529px;
}

.intro__buttons{
  @include positionBtns(25px);
}

@include for1040Width {
  .intro__wrapper{
    flex-direction: column;
  }
  .intro__pic{
    width: 100%;
  }
  .intro__buttons{
    justify-content: flex-start;
  }
}
