@import "mixins";

.invite__wrapper{
  @include positionINBlocks();
  background: #FF9C7D;
}

.invitee__title{
  font-weight: 600;
  @include fontz(65px, 75px);

  max-width: 784px;
  width: 100%;

  margin-top: 119px;
  text-align: center;
}

.invite__subtitle{
  @include fontz(20px, 30px);
  text-align: center;

  margin-top: 29px;
}

.integrate__button{
  width: 160px;
  height: 60px;
  color: #FFFFFF;

  margin-top: 54px;
  margin-bottom: 161px;
  @include btnReset();
  background: black;
  @include fontz(17px, 60px);
}