@import "mixins";

.management{
  &__wrapper {
    display: flex;
    flex-direction: row;
    background: #DABC98;

    margin-bottom: 165px;

    padding: 70px 75px 58px 74px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    column-gap: 67px;
  }

  &__title {
    font-weight: 600;
    @include fontz(35px, 50px);
  }

  &__subtitle {
    @include positionBlock();

    column-gap: 70px;
    padding: 30px 62px 22px 62px;

    border-left: 1px solid #000;

    .management__pic {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 1024px) {
        border-top: 1px solid #000;
        border-left: none;
      }
    }
  &__awards {
    width: 128px;
    height: 116px;
  }
}