@import "mixins";

.promises{
  display: flex;
  background: #C9E8F2;
  &__title{
    @include fontz(30px, 40px);

    font-weight: 400;
    margin-bottom: 23px;
  }
  @include for1040Width {
    flex-direction: column;
    align-items: center;
  }
  &__wrapper{
    padding: 63px 0 0 75px ;
    margin-right: 85px;
  }
  &_pic{
    margin-top: 53px;
    margin-right: 75px;
    margin-bottom: 105px;
  }
}