@import "mixins";

.studies__wrapper{
  display: flex;
  padding: 92px 75px 0 75px;
  column-gap: 140px;
  background: #EEEEEE;
  max-width: 1440px;
  margin: 0 auto;

  .studies__title{
    font-weight: 600;
    @include fontz(40px, 50px);
    margin-bottom: 28px;
  }
}

.studies__info{
  margin-bottom: 95px;
  .studies__ref{
    font-weight: 600;
    @include fontz(20px, 30px);
  }
}

.studies__pics{
  display: flex;
  flex-direction: column;

}

.studies__pic{
  width: 300px;
  margin-bottom: 20px;
}
.studies__pic:last-child{
  width: 80px;
}

.studies__subtitle{
  @include fontz(20px, 30px);
  margin-bottom: 15px;

  max-width: 290px;
  min-width: 100%;
}

.studies__refs{
  display: flex;
  justify-content: space-between;
  width: 100%;
  .studies__title{
      font-weight: 600;
      @include fontz(20px, 25px);

      margin-bottom: 21px;
  }
    .studies__ref{
      li{
        display: flex;
        margin-bottom: 15px;
      }
    }
}

@media screen and (max-width: 1054px){
  .studies__wrapper{
    flex-direction: column;
  }
  .studies__refs{
    border-top: 1px solid black;
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px){
  .studies__refs{
    flex-wrap: wrap;
  }
}
